
/** onepiece-framework.com:/language.css
 *
 * @created   2022-12-20
 * @version   1.0
 * @package   onepiece-framework.com
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

#op-translate-language-area {
	border: 1px solid var(--color-border);
	padding: 0.5em;
}

#op-translate-language-area a {
	text-decoration: none;
}

#op-translate-language-area li {
	list-style:      none;
	margin:        0.25em;
	padding:       0.25em;
	display: inline-block;
}

#op-translate-language-area li:hover {
	border: 1px solid var(--color-hover-border);
	background-color: var(--color-hover-background);
	margin: calc(0.25em - 1px);
}
