[submodule "asset/core"]
	path = asset/core
	url = git@github.com:onepiece-framework/op-core.git
	branch = 2025
[submodule "asset/unit/app"]
	path = asset/unit/app
	url = git@github.com:onepiece-framework/op-unit-app.git
	branch = 2025
[submodule "asset/unit/layout"]
	path = asset/unit/layout
	url = git@github.com:onepiece-framework/op-unit-layout.git
	branch = 2022
[submodule "asset/unit/notice"]
	path = asset/unit/notice
	url = git@github.com:onepiece-framework/op-unit-notice.git
	branch = 2024
[submodule "asset/unit/router"]
	path = asset/unit/router
	url = git@github.com:onepiece-framework/op-unit-router.git
	branch = 2022
[submodule "asset/unit/webpack"]
	path = asset/unit/webpack
	url = git@github.com:onepiece-framework/op-unit-webpack.git
	branch = 2025
[submodule "asset/unit/dump"]
	path = asset/unit/dump
	url = git@github.com:onepiece-framework/op-unit-dump.git
	branch = 2024
[submodule "asset/unit/git"]
	path = asset/unit/git
	url = git@github.com:onepiece-framework/op-unit-git
	branch = 2022
[submodule "asset/unit/ci"]
	path = asset/unit/ci
	url = git@github.com:onepiece-framework/op-unit-ci.git
	branch = 2024
[submodule "asset/unit/cd"]
	path = asset/unit/cd
	url = git@github.com:onepiece-framework/op-unit-cd.git
	branch = 2024
[submodule "asset/develop"]
	path = asset/develop
	url = git@github.com:onepiece-framework/op-module-develop.git
	branch = 2024
[submodule "asset/webpack/css"]
	path = asset/webpack/css
	url = git@github.com:onepiece-framework/op-webpack-css.git
	branch = 2022
[submodule "asset/webpack/js"]
	path = asset/webpack/js
	url = git@github.com:onepiece-framework/op-webpack-js.git
	branch = 2022
[submodule "asset/layout/flexbox"]
	path = asset/layout/flexbox
	url = git@github.com:onepiece-framework/op-layout-flexbox.git
	branch = 2024
[submodule "asset/unit/notfound"]
	path = asset/unit/notfound
	url = git@github.com:onepiece-framework/op-unit-notfound.git
	branch = 2024
