##
# op-app-skeleton-2020-nep:/.htaccess
#
# @created   ????
# @updated   2018-03-27   op-app-skeleton-2018
# @version   1.0
# @package   op-app-skeleton
# @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
# @copyright Tomoaki Nagahara All right reserved.
#

## Apache's settings.
#
DirectoryIndex index.php index.html
ErrorDocument  404 https://onepiece-framework.com/reference/bootstrap/app

# Deny access .git directory and files.
RedirectMatch  404 /\.git

# Deny access dot files.
RedirectMatch  404 /\..*$

## PHP's settings.
#  Server error when PHP module is not installed.
# php_flag  short_open_tag  On
# php_flag  display_errors  On
# php_flag  log_errors      Off

## onepiece-framework's execute option.
#
Options +FollowSymLinks +ExecCGI -Indexes

## Dispatch settings.
#  .htaccess "RewriteEngine" value is change to "On" from "Off".
#  If used Apache's version is not v2.4, Change to [L] from [END].
#
<IfModule mod_rewrite.c>
	# Rewrite to On from Off for rewrite is started.
	RewriteEngine Off

	# This is base directory (It is app root.)
	RewriteBase /

	# If file does not exists, Dispatched to app.php.
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . app.php [END]

	# If the file exists, Dispatch only this extension.
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteCond %{REQUEST_URI} (\.php|\.html|\.phtml|\.js|\.css|\.png)$
	RewriteRule . app.php [END]
</IfModule>

## If do not installed mod_rewrite.
#
<IfModule !mod_rewrite.c>
	RedirectMatch 302 .* https://onepiece-framework.com/reference/bootstrap/rewrite
</IfModule>

## Deny access this files.
#
<Files ~ "\.(dat|log|csv|sql|md)$">
	deny from all
</Files>

## Deny access git repository
#
# <Directorymatch "^/.*/\.git/">
# 	Order deny,allow
# 	Deny from all
# </Directorymatch>

## Deny access dot files.
#  Not include directory name. Ex: .git/
#
<FilesMatch "^\.">
	deny from all
</FilesMatch>

## For CDN cache setting.
# 
<Files ~ "\.(gif|jpe?g|png|ico)$">
	Header set Cache-Control "s-maxage=86400, public"
</Files>

## Google mSpeed Hacks Digital Sheeters Packet JP Jul18_v01 HR.pdf
# SetOutputFilter DEFLATE
# SetEnvIfNoCase  Request_URI "\.(?:gif|jpe?g|png)$" no-gzip

